body {
    background-color: slategrey;
    color: black;
}

h1 {
    text-align: center;
}

.Gryffindor {
    background-color: #7E1318;
}

.Ravenclaw {
    background-color: #283083;
}

.Hufflepuff {
    background-color: #EBE316;
}

.Slytherin {
    background-color: #146333;
}